.desc {
  color: $whiteColor;
  margin: 1em;
  text-align: center;
  @include center(column);
  .socdistance {
    padding: 1em;
    width: 200px;
  }
  p {
    margin: 1em;
  }
  a {
    text-decoration: none;
    color: $blueColor;
  }
}
.hotline {
  margin: 1em;
  background-color: $grayColor;
  border-radius: 5px;
  padding: 1em;
  p {
    font-size: 14px;
  }
}
