.nav {
  ul {
    @include center(column);
    list-style: none;
    padding: 1em;
    background-color: $grayColor;
    li {
      font-size: 1.5rem;
      color: $whiteColor;
      margin: 0.2em;
    }
    .made {
      font-size: 10px;
      a {
        text-decoration: none;
        color: $blueColor;
      }
    }
  }
}
