@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "mixin";
@import "form";
@import "desc";
@import "landing";
@import "nav";
@import "media";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: $blackColor;
  overflow-x: hidden;
}

.loader {
  @include center(column);
  text-align: center;
}

h3 {
  text-align: center;
  padding: 1em;
  margin: 0.5em;
  color: $whiteColor;
}
