@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "mixin";
@import "form";
@import "desc";
@import "landing";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: $blackColor;
  overflow-x: hidden;
}

.nav {
  ul {
    @include center(column);
    list-style: none;
    padding: 1em;
    background-color: $grayColor;
    li {
      font-size: 1.5rem;
      color: $whiteColor;
      margin: 0.2em;
    }
    .made {
      font-size: 10px;
      a {
        text-decoration: none;
        color: $blueColor;
      }
    }
  }
}

.loader {
  @include center(column);
  text-align: center;
}

h3 {
  text-align: center;
  padding: 1em;
  margin: 0.5em;
  color: $whiteColor;
}

@media (max-width: 600px) {
  .landing {
    h1 {
      font-size: 26px;
    }
  }
  h3 {
    font-size: 16px;
  }
  .desc {
    .socdistance {
      width: 160px;
    }
  }
}
